#openai
langchain
faiss-cpu
streamlit
PyPDF2
sentence_transformers
langdetect
langchain-community
spacy
scikit-learn
openpyxl
pymupdf
gtts
transformers
torchaudio
speechrecognition
streamlit-realtime-audio-recorder
pydub

#pdf2docx
#pickle
